.Retro{
  
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: cursiv;
  


}
.Title{font-size: 80px;
margin-top: 0px;
justify-self:center;
padding-top: 8px;}
.Alles {
 color: white;
  margin: 0px;
  align-content: center;
  margin-left: 8px;
  
}

.Iframe {
  color: black;
  margin:0px;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping */
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
}

.Iframe iframe {
  flex-shrink: 0; /* Prevent iframe from shrinking */
}

/* Make text container flexible */
.Nerds {
  margin-top: 0px;
  color: white;

  padding: 0px;
  padding-top: 0px;
  font-size: clamp(1rem, 12vw, 2.5rem); /* responsive font size */
  max-width: 100%;
  flex: 1; /* Let it take up remaining space */
  max-width: 970px; /* Prevents it from getting too narrow */
  min-width: 485px;
  
  align-self: flex-start;

}
.Iframe_Scratch{


  display: block;
  min-width: 485px;
  max-width: 970px;
  height: auto;
  aspect-ratio: 485 / 402; /* Preserve original ratio */
  border: none;
  padding: 0px;
  margin-bottom: 32px;
}


html, body {
  margin: 0;
  padding: 0;
  
  width: 100%;

  background: #022333;
background: linear-gradient(1deg, rgba(2, 35, 51, 1) 0%, rgba(19, 28, 33, 1) 9%, rgba(16, 16, 18, 1) 50%, rgba(14, 20, 26, 1) 97%, rgba(7, 14, 33, 1) 100%);
}

.Table_Basic{
  margin: 20px;
  
}
.wow {
  font-size: clamp(1rem, 2vw, 2.5rem);
  
}
.Feedback {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
   
  
   
  gap: 8px;                /* Optional: spacing between cards */
}
.Basictable{display: flex;
  flex-direction: row;
  justify-content: center;
margin-bottom: 32px;}
.joke{
  padding-bottom: 4px;
  width: 100%;
  background-color: #001c2b;
  color: black;
}